.DataTables {
	display: block;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
.footer-basic5 {
	padding: 40px 0;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
	color: #4b4c4d;
}

	.footer-basic5 ul {
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 0;
	}

	.footer-basic5 li {
		padding: 0 10px;
	}

	.footer-basic5 ul a {
		color: inherit;
		text-decoration: none;
		opacity: 0.8;
	}

		.footer-basic5 ul a:hover {
			opacity: 1;
		}

	.footer-basic5 .social5 {
		text-align: center;
		padding-bottom: 25px;
	}

		.footer-basic5 .social5 > a {
			font-size: 24px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			text-align: center;
			border-radius: 50%;
			border: 1px solid double;
			margin: 0 8px;
			color: inherit;
			opacity: 0.75;
		}

			.footer-basic5 .social5 > a:hover {
				opacity: 0.9;
			}

	.footer-basic5 .copyright5 {
		margin-top: 15px;
		text-align: center;
		font-size: 13px;
		color: #aaa;
		margin-bottom: 0;
	}
